@import "../../styles/variables";
.container {
  background: $white;
  margin: 20px auto;
  padding: 30px 50px;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 0px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 3px 0px -1px rgba(0,0,0,0.5);
  box-shadow: 3px 3px 0px -1px rgba(0,0,0,0.5);
}
